body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;      
}

h1 {
    color: #333;
    text-align: center;
}

#addTaskButton{
    padding: 8px;
    width: 65%;
}

#taskInput {
    padding: 8px;
    width: 30%;
}   